.scrollContainer {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.blogPost {
    display: inline-block;
    margin-right: 20px;
}

.postContent {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 17px;
    display: inline-flex;
}

.postImage {
    width: 525px;
    height: 331px;
    background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%);
    border-radius: 30px;
}

.postCategory {
    text-align: center;
    color: black;
    font-size: 16px;

    font-weight: 700;
    line-height: 19.20px;
    word-wrap: break-word;
}

.postTitle {
    text-align: center;
    color: black;
    font-size: 40px;

    font-weight: 400;
    line-height: 48px;
    word-wrap: break-word;
}

.postDescription {
    align-self: stretch;
    color: black;
    font-size: 16px;

    font-weight: 400;
    line-height: 19.20px;
    word-wrap: break-word;
}
