@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --blue: #76CFD7;
    --white: #ffffff;
    --black: #000000;
    --blueblur: hsl(185, 55%, 95%);
    --orange: orangered;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "crimson text";
}

.text-box{
    color: var(--blue);
    display: flex;
    position: absolute;
    top: 20%;
    text-align: center;
}
.text-box strong{
    color: var(--black);
}
.text-box h1{
    font-size: 150px;
}
@media(max-width: 1300px){
    .text-box h1{
        font-size: 100px;
    }
}
@media(max-width: 900px){
    .text-box h1{
        font-size: 60px;
    }
}

/* footer */

footer {
    position: absolute;
    bottom: 0;
    background: var(--black);
    color: var(--white);
    width: 100%;
    padding: 20px 0; 
    z-index: 2;
}

.footer {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer h3 {
    color: var(--blue);
    font-size: 40px;
    font-weight: 800;
    margin: 10px 0; /* Consistent margin */
}

.footer h3 strong {
    color: var(--white);
}

.footer-nav {
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px 0; /* Consistent padding */
}

.footer-nav a {
    text-decoration: none;
    color: var(--white);
    margin: 30px;
}

.footer-nav a:hover {
    border: none;
    border-bottom: 1px solid var(--blue);
}
.footer-nav a:active {
    color: var(--blue);
}

.footer-bottom {
    margin: 0;
    padding: 20px 0; /* Consistent padding */
}

@media (max-width: 900px) {
    footer{
        font-size: 13;
    }
    .footer h3{
        font-size: 20px;
    }
    .footer-nav a {
        font-size: 13px;
        margin: 10px;
    }
    .footer-bottom {
        padding: 10px;
    }
}

/* footer end */